.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
  max-height: 400px;
  min-width: 200px;
  margin: 10px;
  padding: 20px;
  z-index: 0;
  background-color: white;
}

.product__info {
  height: 150px;
  margin-bottom: 15px;
}

.product__img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.product__title {
  margin-bottom: 10px;
}

.product__rating {
  display: flex;
}

.product__price {
  margin-bottom: 15px;
}

.product button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  width: 120px;
  padding: 5px;
  border-radius: 5px;
}

.product button:hover {
  background-color: #fca400;
  cursor: pointer;
}
